* {
  font-family: "Helvetica";
}

body {
  background-color: rgb(85, 83, 83);
}

.button_group {
  display: flex;
  gap: 5px;
}

.entry_buttons {
  float: right;
}

.buttons_add_clear {
  padding: 7px;
}

.container_list {
  padding: 3px;
}

.button {
  border: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 2px;
}

.entry {
  font-size: 20px;
  background-color: grey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.entry li::marker {
  font-size: 25px;
}

.container {
  background-color: lightgrey;
  border-radius: 5px;
  margin: 2% 20%;
}

.list {
  padding-left: 15px;
}

.title {
  color: lightskyblue;
  text-align: center;
}